In [1]:
println("Welcome to Julia. This is my first line of code")

Welcome to Julia. This is my first line of code

In [2]:
x=2
typeof(x)

Int64

In [3]:
y=2.5
typeof(y)

Float64

In [4]:
z='c'
typeof(z)

Char

In [5]:
str="this is my room"
typeof(str)

String

In [7]:
str2="""this is also a string"""
typeof(str2)

String

In [15]:
ðŸ˜†=15
ðŸ¥¶=2.8
ðŸ¥³='c'


ðŸ¥³-ðŸ˜†

'T': ASCII/Unicode U+0054 (category Lu: Letter, uppercase)

In [19]:
a=2
b=3
println(a*b)
println(a/b)
println(a^b)
println(a>b)
println(a!=b)

6
0.6666666666666666
8
false
true

In [20]:
name="Abhishek Mazewise"
println("My name is $name")

My name is Abhishek Mazewise

In [22]:
first_name="Abhishek"
last_name="Mazewise"
println("$first_name $last_name")
println(first_name*" "*last_name)

Abhishek Mazewise
Abhishek Mazewise

In [26]:
array1=[1,2,3,4,5]
typeof(array1)

Vector{Int64} (alias for Array{Int64, 1})

In [24]:
array1[5]

5

In [25]:
array1[3]=9
array1

5-element Vector{Int64}:
 1
 2
 9
 4
 5

In [28]:
tuple1=(1,2,3,4,5)
typeof(tuple1) # tuple is immutable

NTuple{5, Int64}

In [30]:
is_true=(2>3)||(5>2)

true

In [35]:
tuple1=("1",2,'3',4,5.5)
array1=[1,2,"3",4,5]

println(tuple1)
println(array1)

println(typeof(tuple1))
println(typeof(array1))

("1", 2, '3', 4, 5.5)
Any[1, 2, "3", 4, 5]
Tuple{String, Int64, Char, Int64, Float64}
Vector{Any}